<?xml version="1.0" ?>
<launch>
    
<!--   <include file="$(find gazebo_ros)/launch/empty_world.launch"/> -->
<!--   <node pkg="gazebo_ros" type="gzserver" name="GzServer" required="true" output="screen"/> -->
    
  <node pkg="nostop_simulator" type="Simulator" name="Simulator" required="true" output="screen">
    <param name="number_of_guards" value="7" />
    <param name="number_of_thieves" value="1" />
  </node>
  
  <include file="$(find nostop_analysis)/launch/analysis.launch"/>
   
</launch>